  <header class="cabecalho">
    <ul class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Livros</a>
        <form class="d-flex" role="search">
          <input class="form-control form-control-sm me-2" arial-label="search" type="search">
          <button class="btn" type="submit"><i class="bi bi-search">pesquisar</i></button>
        </form>
      </div>
    </ul>
  </header>

  <aside class="menu-lateral">
      <a href="" class="btn ">
        <span class="fs-4">Biblioteca</span>
      </a>
      <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Lidos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Boxes
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Gráficos
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Próximos
            </a>
          </li>
        </ul>
      <hr>
  </aside>

  <main class="main container">
    <section class="secao">
      <h2 class="secao__titulo">Leituras recentes</h2>
      <div class="lista__livros">
         <div class="card livros" *ngFor="let livro of  leituras_atuais">
            <div class="imagem">
              <img [src]="livro.imagem">
            </div>
            <div class="card-body">
              <p class="titulo">{{livro.nome}}</p>
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 25%"></div>
              </div>
            </div>
         </div>
      </div>
    </section>

    <section class="secao">
      <div class="d-flex secao__titulo">
        <h2 class="titulo">Biblioteca Completa</h2>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary align-self-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
          adicionar
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" formGroup="livroForm">
                 <label for="">Nome:</label>
                 <input type="text" formControlName="nome"/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="inserelivro()" >Inserir</button>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="lista__livros todos_livros">
         <div class="livros" *ngFor="let livro of  livros">
          <div class="imagem me-2">
              <img
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + livro.id" aria-expanded="false"
              [attr.aria-controls]="'collapse' + livro.id"
              [src]="livro.imagem">
          </div>
          <div class="bc_livro collapse collapse-horizontal" [id]="'collapse' + livro.id">
            <div class="nome_livro">
              {{livro.nome}}
            </div>
            <div class="valor_livro">
              {{livro.valor}}
            </div>

          </div>
         </div>
      </div>
    </section>

  </main>

  <footer class="rodape">

  </footer>


  <!-- Modal -->
  <div >

  </div>
