
img {
  max-width:175px;
  max-height:125px;
  width: auto;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}
.imagem {
  transition: transform 0.2s;
}

.imagem:hover {
  transform: scale(0.9);
}

.secao {
  padding: 20px;
}

.secao_titulo {
  text-align: center;
  color: orange;
  background-color: rgb(232, 255, 255);
  padding: 10px;
  margin-bottom: 20px;
 }
.lista__livros {
  display: grid;
  grid-auto-flow: column;
  overflow-x: hidden;
  overflow-y: hidden;
  column-gap: 1rem;

}

.livros {
  display:grid;
  grid-template-areas: "image body";
  grid-template-columns: auto 1fr;
}

.imagem{
  grid-area: image;
}

.livros .card-body {
  grid-area: body;
}
.lista__livros .card {
  width: 300px;
}

.lista__livros .card .card-body {
  align-items: self-start;
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "vazio vazio"
    "status status";
  background-color: rgb(130, 143, 143);
  border-radius: 5px;
}
.titulo {
  grid-area: titulo;
}

.progress {
  grid-area: status;
  size: 100rem;
  height: 5px;
  align-self: end;
}

.todos_livros {
  display: flex;
  grid-auto-flow: row;
  overflow-x: hide;
  overflow-y: scroll;
  column-gap: 0.5rem;
}

.card-livro {
  display:grid;
  grid-template-areas: "image body";
  grid-template-columns: auto auto;
  max-width: 300px;
  width: auto;
}

.bc_livro {
  width: 200px;
  background-color: azure;
}

.label-form {
  width: 6rem;
}

.moeda {
  font-family: Tahoma;
  font-size: 24px;
}

.secao_titulo_biblioteca_completa {
  display: grid;
  grid-template-areas:
  "nome valor botao";
  grid-auto-columns: 20rem 30rem 1fr;
}

.secao_titulo_biblioteca_completa .titulo {
  grid-area: nome;
  width: 20rem;
}

.secao_titulo_biblioteca_completa .moeda {
  grid-area: valor;
  align-self: center;
}

.secao_titulo_biblioteca_completa .botao {
  grid-area: botao;
  width: 80px;
  align-self: center;
}
